img {float:left; margin-right:1em;}

i {
	float: right;
}
.table {
	padding-top: 3em;
	display: table;

	
}
.tablerow {
	display: table-row;

	
}
.tablecell {
	display: table-cell;
	padding-left: 65px;
    
    
}
a p {
	float: right;
}

li {color:white; font-size:2em; display:inline; padding-right: 2em; list-style-type: none;}