<!DOCTYPE html>
<!-- saved from url=(0050)http://getbootstrap.com/examples/navbar-fixed-top/ -->
<html lang="en" ng-app="intact">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Intact Insider</title>

    <% include templates/angular_priority_depends.ejs %>
    <script type="text/javascript" src="/js/creategroup.js"></script>

    <% include templates/common_depends.ejs %>

<body ng-controller="creategroup-page-body">

<% include templates/navbar.ejs %>



<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="jumbotron">
                <h1>Create Group</h1>
                <form>
                    <div class="form-group">
                        <label class="sr-only" for="title">Group Name:</label>
                        <input type="title" class="form-control titleFm" name="title" id="title" placeholder="Group Name" ng-model="group.name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="description">Group Description:</label>
                        <textarea class="form-control" rows="8" id="description" name="body" placeholder="Group Description" ng-model="group.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="rule">Group Guideline</label>
                        <input type="title" class="form-control titleFm" name="rule" id="rule" placeholder="Enter group guideline" ng-model="group.temprule">
                        <div class="btn btn-default" ng-click="addRule()">Add Guideline</div>
                        <ul>
                            <li ng-repeat="rule in group.rules">{{rule}}<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeRule(rule)"></span></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <ui-select ng-model="group.tempmember" theme="bootstrap" style="width: 300px;" title="Add Group Member" on-select="addUser($item)">
                            <ui-select-match placeholder="Select a group member to add">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="user in users | filter: $select.search">
                                <span ng-bind-html="user.name | highlight: $select.search"></span>
                                <span ng-bind-html="user.email | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <ul>
                            <li ng-repeat="uid in group.members">{{resolveNameFromId(uid)}}<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeUser(uid)"></span></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="private">Private</label>
                        <input id="private" name="private" ng-model="group.private" type="checkbox"> Private
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary active" ng-click="saveGroup()">Create Group</button>
                    </div>
                </form>
            </div> <!--/jumbotron -->
        </div>
    </div>
</div> <!-- /container -->
</body>
<div id="abineFillElement"></div>
</html>