<!DOCTYPE html>
<!-- saved from url=(0050)http://getbootstrap.com/examples/navbar-fixed-top/ -->
<html lang="en" ng-app="intact">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Intact Insider</title>

    <% include templates/angular_priority_depends.ejs %>
    <script type="text/javascript" src="/js/createpost.js"></script>

    <% include templates/common_depends.ejs %>

<body ng-controller="createpost-page-body">

<% include templates/navbar.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="jumbotron">
                <h1>Create Post</h1>
                <form action="/savePost" method="POST">
                    <div class="form-group">
                        <label class="sr-only" for="title">Post Title:</label>
                        <input type="title" class="form-control titleFm" name="title" id="title" placeholder="Post Title" ng-model="post.title">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="description">Post Description:</label>
                        <textarea class="form-control" rows="8" id="description" name="body" placeholder="Post Description" ng-model="post.body"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="description">Attach File:</label>
                        <input type="file" class="form-control titleFm" name="pFile" file-input>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary active" ng-click="savePost()">Save Post</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm-4 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h2 class="panel-title">You are posting to g/<%=groupName%></h2></div>
                <div class="panel-body">
                    <div ng-if="group.rules && group.rules.length > 0">
                        <p>Guidelines</p>
                        <ul>
                            <li ng-repeat="rule in group.rules">{{rule}}</li>
                        </ul>
                    </div>
                    <div ng-if="!group.rules || group.rules.length == 0">
                        <p>There are no guidelines for this group!</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div> <!-- /container -->
</body>
<div id="abineFillElement"></div>
</html>