<!DOCTYPE html>
<!-- saved from url=(0050)http://getbootstrap.com/examples/navbar-fixed-top/ -->
<html lang="en" ng-app="intact">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Post</title>

    <% include templates/angular_priority_depends.ejs %>
    <script type="text/javascript" src="/js/post.js"></script>

    <% include templates/common_depends.ejs %>

    <link href="/css/group.css" rel="stylesheet">

</head>

<body ng-controller="post-page-body">

    <% include templates/navbar.ejs %>

    <div class="container">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>{{post.title}}</h1>
            <p>{{post.body}}<i> {{post.comments.length}} comments</i></p>
            <hr>
            <div class="form-group">
                <input type="text" placeholder="Enter comment" class="form-control" ng-model="comment.comment">
            </div>
            <p>
                <button class="btn btn-lg btn-primary" ng-click="createComment(null)" role="button">Comment</button>
            </p>
        </div>
        <div class="table">
            <div class="tablerow comment-box" ng-repeat="comment in post.comments">
                <div class="tablecell">
                    <p><b>{{comment.owner.name}}</b></p>
                    <p>{{formatInterval(comment.createdAt)}}</p>
                </div>
                <div class="tablecell">
                    <p>{{comment.comment}}</p>
                </div>
                <div class="tablecell">
                    <p>
                        <a href="#" ng-click="deleteComment(this)" ng-if="comment.owner._id === userId">Delete</a>
                        <a href="#" ng-click="createComment(this)">Respond</a>
                    </p>
                </div>
            </div>
        </div>

    </div> <!-- /container -->
</body>
</html>