<!DOCTYPE html>
<!-- saved from url=(0050)http://getbootstrap.com/examples/navbar-fixed-top/ -->
<html lang="en" ng-app="intact">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Post</title>

    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/group.css" rel="stylesheet">
    <link href="/css/navbar-fixed-top.css" rel="stylesheet">

    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/js/intact.js"></script>
    <script type="text/javascript" src="/js/post.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment-with-locales.min.js"></script>

</head>

<body ng-controller="post-page-body">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/images/intactlogo.png" max-height="75%"/>
                <a class="navbar-brand" href="/">IntactInsider</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <li>Hello, <%=name%></li>
                    <a href="/" button type="submit"
                       class="btn btn-primary">Log out</a>
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <div class="container">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>{{post.title}}</h1>
            <p>{{post.body}}<i> {{post.comments.length}} comments</i></p>
            <hr>
            <div class="form-group">
                <input type="text" placeholder="Enter comment" class="form-control" ng-model="comment.comment">
            </div>
            <p>
                <button class="btn btn-lg btn-primary" ng-click="createComment(null)" role="button">Comment</button>
            </p>
        </div>
        <div class="table">
            <div class="tablerow" ng-repeat="comment in post.comments">
                <div class="tablecell">
                    <p><b>{{comment.owner.name}}</b></p>
                    <p>{{formatInterval(comment.createdAt)}}</p>
                </div>
                <div class="tablecell">
                    <p>{{comment.comment}}</p>
                </div>
                <div class="tablecell">
                    <p>
                        <a href="#" ng-click="deleteComment(this)" ng-if="comment.owner._id === userId">Delete</a>
                        <a href="#" ng-click="createComment(this)">Respond</a>
                    </p>
                </div>
            </div>
        </div>

    </div> <!-- /container -->
</body>
</html>